@font-face {
	font-family: 'Norse';
	src: 
        url('fonts/norse/Norse.otf') format("opentype");
    }

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
    }

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #7c2929;
    color: white;
    font-family: 'Norse', sans-serif;
    padding: 4px;
    padding-left: 3px;
    text-align: left;
    font-size: 30px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000;
}

body,html {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: #242933;
    color: white;
    width: 500px;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

p, li {
    font-size: 14px;
    color: #ffffff;
}

a:link {
    color: #ffffff;
}

a:hover{
    background: #7c2929;
}

a:active {
    color: #ff4d4d;
}

h1 {
    font-size: 18px;
    color: #ffffff;

}

h2 {
    font-size: 16px;
    color: #cb4444;

}

h3 {
    margin-left: 25px;
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
}

#add {
    position: fixed;
    top: 41px; 
    right: 50px; 
    width: 50px;
    height: 41px;
    transform: translateX(0%); 
    background-color: #343a47; 
    color: #ffffff; 
    border: 0px solid #ffffff00; 
    border-bottom: 4px solid #343a47; 
    border-radius: 0px; 
    padding: 8px 16px; 
    font-size: 18px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease, border-bottom 0.3s ease;
    z-index: 999;
}

#download {
    position: fixed;
    top: 41px; 
    width: 50px;
    right: 0px;
    height: 41px;
    transform: translateX(0%); 
    background-color: #343a47; 
    color: #ffffff; 
    border: 0px solid #ffffff00; 
    border-bottom: 4px solid #343a47; 
    border-radius: 0px; 
    padding: 8px 16px; 
    font-size: 18px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease, border-bottom 0.3s ease ;
    z-index: 999;
}

#add::before {
    content: '';
    position: absolute;
    width: 70px;
    top: 41px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #343a47;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

#download::before {
    content: '';
    position: absolute;
    width: 90px;
    top: 41px;
    left: 0%;
    transform: translateX(-50%);
    background-color: #343a47;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

#add:hover::before {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    background-color: #424a5a;
    content: 'Add to CSV';
    opacity: 1;
}

#download:hover::before {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    background-color: #424a5a;
    content: 'Download CSV';
    opacity: 1;
}


#add:hover::after, #download:hover::after {
    color: #555e72;
    opacity: 1;
}

#add img, #download img {
    width: 35px;
    height: 35px;
}

#recon-button {
    font-family: 'Norse', sans-serif;
    position: fixed;
    top: 41px;
    width: 88px; 
    left: 0px; 
    transform: translateX(0%); 
    background-color: #343a47; 
    color: #ffffff; 
    border: 0px solid #ffffff00; 
    border-bottom: 4px solid #343a47; 
    border-radius: 0px; 
    padding: 8px 16px; 
    font-size: 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-bottom 0.3s ease; 
    z-index: 999;
}


#seo-button {
    font-family: 'Norse', sans-serif;
    position: fixed;
    top: 41px;
    left: 88px;
    width: 75px;
    transform: translateX(0%);
    background-color: #343a47;
    color: #ffffff;
    border: 0px solid #ffffff00;
    border-bottom: 4px solid #343a47;
    border-radius: 0px;
    padding: 8px 16px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-bottom 0.3s ease;;
    z-index: 999;
}

#recon-button:hover, #seo-button:hover, #add:hover, #download:hover {
    background-color: #555e72;
    border-bottom: 4px solid #9a3434;
    color: white;
}

#recon-button:active, #seo-button:active, #add:active, #download:active {
    background-color: #748099;
}

#recon-button:focus, #seo-button:focus {
    background-color: #424a5a;
    border-bottom: 4px solid #7c2929;
    cursor: default;
}

.header-icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 50%;
    object-fit: cover;
}

.add {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 50%;
    object-fit: cover;
}

.download {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 50%;
    object-fit: cover;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.hidden {
    display: none;
}

.match-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.further-investigation-button {
    background-color: #7c2929;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    width: 15px;
    height: 15px;
    position: relative;
    z-index: 997;
}

.further-investigation-button:hover {
    background-color: #652222;
}

.further-investigation-button::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.further-investigation-button::after {
    content: '';
    display: block;
    width: 2px;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 75%;
    left: 85%;
    transform: rotate(135deg);
    transform-origin: center;
    transition: transform 0.3s linear;
}


.further-investigation-button:hover::after {
    transform: rotate(60deg) translate(-9px, -7px);
}

.background-band {
    position: fixed;
    top: 41px;
    left: 0;
    width: 100%;
    height: 41px;
    background-color: #242933;
    z-index: 998;
}

.open-all {
    background-image: url('./icons/openall.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    display: flex;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: #00000000;
    margin-left: 6px;
}
